<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.oceans.user.service.dao.UserMapper">

    <insert id="insert" parameterType="UserPO" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO users (
          uid, mobile, create_time
        ) VALUES (
          #{uid}, #{mobile}, #{createTime}
        )
    </insert>

    <select id="selectByMobile" parameterType="String" resultType="UserPO">
      SELECT
          uid, mobile
      FROM users
      WHERE mobile = #{mobile}
    </select>

</mapper>